@using WebsiteDesafio2.Models
@model List<OfertaEmpleoDto>

@{
    int contador = 1;
    var nombreUsuario = Context.Session.GetString("NombreUsuario");
    var rolUsuario = Context.Session.GetString("RolUsuario");
}
<div class="container mt-5">
    <div class="row justify-content-center">
        @if (rolUsuario == "Ofertador")
        {
            <h2 class="my-4 text-center">Bienvenido, @nombreUsuario.</h2>
            <h2 class="my-4 text-center">Ofertas de Empleo</h2>
            <div>
                <a asp-action="Create" class="btn btn-sm btn-secondary">Crear oferta</a>
            </div>

            <div class="mt-2">

           <a class="btn btn-sm btn-secondary" href="http://desktop-4p3afjc/Reports/report/ReporteUsuarios2" target="_blank">Ver reporte Usuarios</a>
            </div>

            <div class="mt-2 mx-auto">
                <input class="form-control form-control-lg shadow-sm border-secondary w-75" type="text" id="miInput" placeholder="Ingrese el parámetro">
                <button class="btn btn-sm btn-secondary mt-2" onclick="redirigir()">Ir al reporte</button>
            </div>


            <script>
                function redirigir() {
                    // Obtener el valor del input
                    const parametro = document.getElementById("miInput").value;

                    // Construir la URL completa
    const url = "http://desktop-4p3afjc/Reports/report/HojaDeVidaFA?TituloObtenido=" + "%" + parametro +"%";

                    // Redirigir a la URL
                    window.location.href = url;
                }
            </script>

            @if (TempData["Message"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    @TempData["Message"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    @TempData["Error"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            <br />
            <br />

            @if (Model != null && Model.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre de la Oferta</th>
                            <th>Descripción</th>
                            <th>Salario</th>
                            <th>Contacto</th>
                            <th>Acciones</th>
                            <th>Solicitudes</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var oferta in Model)
                        {
                            <tr>
                                <td>@contador</td>
                                <td>@oferta.NombreOferta</td>
                                <td>@oferta.DescripcionOferta</td>
                                <td>@oferta.Salario</td>
                                <td>@oferta.Contacto</td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@oferta.OfertaId" class="btn btn-sm btn-primary">Editar</a>
                                    <a asp-action="Delete" asp-route-id="@oferta.OfertaId" class="btn btn-sm btn-danger">Eliminar</a>
                                </td>

                                <td>
                                    <a asp-action="VerSolicitudes" asp-route-id="@oferta.OfertaId"
                                       class="btn btn-sm btn-info">Ver solicitudes</a>
                                </td>
                            </tr>
                            contador++;
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No se encontraron ofertas.</p>
            }

        }
        else if (rolUsuario == "Solicitante")
        {
            <h2 class="my-4 text-center">Bienvenido, @nombreUsuario.</h2>
            <div>
                <a asp-action="HojaDeVida" class="btn btn-sm btn-secondary">Hoja de vida</a>
            </div>

            <br />
            @if (TempData["Message"] != null)
            {             
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                    @TempData["Message"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (TempData["Error"] != null)
            {                
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    @TempData["Error"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            @if (Model != null && Model.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre de la Oferta</th>
                            <th>Descripción</th>
                            <th>Salario</th>
                            <th>Contacto</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var oferta in Model)
                        {
                            <tr>
                                <td>@oferta.OfertaId</td>
                                <td>@oferta.NombreOferta</td>
                                <td>@oferta.DescripcionOferta</td>
                                <td>@oferta.Salario</td>
                                <td>@oferta.Contacto</td>
                                <td>
                                    <a asp-action="Aplicar" asp-route-id="@oferta.OfertaId"
                                       class="btn btn-sm btn-info">Aplicar</a>
                                </td>
                            </tr>
                            contador++;
                        }
                    </tbody>
                </table>

            }
            else
            {
                <p>No se encontraron ofertas de empleo disponibles.</p>
            }
        }
        else
        {
            <p>No tienes los permisos necesarios para ver esta sección.</p>
        }
        <div>
            <a asp-action="CerrarSesion" class="btn btn-sm btn-secondary">Cerrar sesión</a>
        </div>
    </div>
</div>
